@page
@using frontend
@using frontend.Api.Models
@using frontend.Api.Models.User
@using frontend.Utils
@model frontend.Web.Pages.Index

@{
    Layout = "_Layout.cshtml";
    
    ModelMediaStats? mediaStats = await Program.ApiUtils.GetModelAsync<ModelMediaStats>(Program.ConfigManager.Config.BackendApiUri + "/stats/media/");
    ModelUserStats? userStats = await Program.ApiUtils.GetModelAsync<ModelUserStats>(Program.ConfigManager.Config.BackendApiUri + "/stats/user/");
    ModelConfig? config = await Program.ApiUtils.GetModelAsync<ModelConfig>(Program.ConfigManager.Config.BackendApiUri + "/services/config");
        
    int totalContentCount = 0;
    string totalContentSize = "0 MB";
    
    if (mediaStats != null)
    {
        totalContentCount = mediaStats.media_count;
        totalContentSize = StringUtils.FormatBytesWithIdentifier(mediaStats.media_storage_usage);
    }

    int totalUserCount = 0;

    if (userStats != null)
    {
        totalUserCount = userStats.user_count;
    }

    bool apiDown = mediaStats == null && userStats == null && config == null;
}

@section AdditionalHead
{
    <title>Home</title>
    <link rel="stylesheet" href="~/Web/Assets/css/Index/Index.css">
}

<!DOCTYPE html>

<html lang="en">
<body>
<div>
    Test<br/>
    <br/>
    <div>
        API down?: @apiDown<br/>
        media count: @totalContentCount<br/>
        user count: @totalUserCount<br/>
        Total content size: @totalContentSize<br/>
    </div>
    <br/>
    <div>
        Allow media editing: @config?.media_allow_editing<br/>
        Media max name length: @config?.media_max_name_length<br/>
        Allow custom tags: @config?.tags_allow_custom<br/>
        Tags max name length: @config?.tags_max_name_length<br/>
        Allow registration: @config?.registration_allow<br/>
        Use invite keys: @config?.registration_use_invite_keys<br/>
        User upload total limit: @config?.user_upload_limit<br/>
        User upload size limit: @config?.user_upload_size_limit mb<br/>
        User total account size limit: @config?.user_total_upload_size_limit mb<br/>
        Username max length: @config?.user_username_limit<br/>
        Password max length: @config?.user_password_limit<br/>
        
        Tags: [<br/>@{
            if (config != null)
            {
                foreach (var tag in config.tags_default)
                {
                    <text>@tag<br/></text>
                }
            }
        }]<br/>
        
        Domains: [<br/>@{
            if (config != null)
            {
                foreach (var domain in config.backend_domains)
                {
                    <text>@domain<br/></text>
                }
            }
        }]
    </div>
</div>
</body>
</html>