@page "/p/{id}/"
@using frontend
@using frontend.Api.Models.Media
@using frontend.Utils
@model frontend.Web.Pages.Post

@{
    Layout = "_Layout.cshtml";

    var id = RouteData.Values["id"];
    ModelContentInfo? postInfo = await Program.ApiUtils.GetAndReceiveModel<ModelContentInfo>(Program.ConfigManager.Config.BackendApiUri + String.Concat("/media/info?id=", id));

    // TODO: Add meta tags for discord & twitter
}

@section AdditionalHead
{
    <title>Post - @RouteData.Values["id"]</title>
    <link rel="stylesheet" href="~/Web/Assets/css/Post/Post.css">
}

<!DOCTYPE html>

<html>
<body>
@{
    if (postInfo != null)
    {
        <div class="post-container">
            <div class="post-container-child">
                <img src="@Url.Action("Thumbnail", "Thumbnail", new {id = id})" loading="lazy"/>
                <div class="child-information">
                    <div>
                        <div class="child-info-header">
                            File Name
                        </div>
                        <div>
                            @postInfo.content_name
                        </div>
                    </div>
                    <div>
                        <div class="child-info-header">
                            Total Downloads
                        </div>
                        <div>
                            @postInfo.downloads
                        </div>
                    </div>
                    <div>
                        <div class="child-info-header">
                            Upload Author
                        </div>
                        <div>
                            @postInfo.author_username
                        </div>
                    </div>
                    <div>
                        <div class="child-info-header">
                            Uploaded Date
                        </div>
                        <div>
                            @DateTime.Parse(postInfo.upload_date, null, System.Globalization.DateTimeStyles.RoundtripKind).ToString("MMM dd yyyy HH:MM")
                        </div>
                    </div>
                    <div>
                        <div class="child-info-header">
                            Stored Size
                        </div>
                        <div>
                            @StringUtils.FormatBytesWithIdentifier(postInfo.content_size)
                        </div>
                    </div>
                    <div>
                        <div class="child-info-header">
                            Public
                        </div>
                        <div>
                            @(postInfo.unlisted ? "No" : "Yes")
                        </div>
                    </div>

                    <div>
                        <div class="child-info-header">
                            Type
                        </div>
                        <div>
                            @postInfo.content_type.ToString()
                        </div>
                    </div>

                    <div>
                        <div class="child-info-header">
                            Extension
                        </div>
                        <div>
                            .@postInfo.content_extension
                        </div>
                    </div>

                    @{
                        if (postInfo.tags != null)
                        {
                            <div class="child-information-tag">
                                <div class="child-info-header">
                                    Tags
                                </div>
                                <div class="child-tag-container">
                                    @{
                                        foreach (var tag in postInfo.tags)
                                        {
                                            <div class="child-tag">
                                                @tag
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                    <a href="@Url.Action("Download", "Download", new {id = id})" class="child-download">
                        Download
                    </a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="error-container">
            <div class="post-error">
                An error occured while grabbing the content :/<br/>
                @{
                    if (id != null)
                    {
                        <text>
                            Id: @id, Try refreshing!
                        </text>
                    }
                    else
                    {
                        <text>
                            Try refreshing!
                        </text>
                    }
                }
            </div>
        </div>
    }
}
</body>
</html>